body {
  background-color: #f2a154;
}
.container#calculator {
  background-color: #314e52;
  font-family: 'Roboto', sans-serif;
  color: #e7e6e1;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #e7e6e1;
  font-size: 2rem;
}

.results  {
  background-color: #e7e6e1;
  color: #314e52;
  font-size: 2.5rem;
  text-align: right;
}

.operator {
  background-color: #845ec2;
}

.operator2 {
  background-color: #ff5e78;
}